/*
  Page source for TAMUctf Terms & Conditions
  Name:   flipclock.css
  Course: CSCE 491
  Prof:   Dr. Daniel Ragsdale
*/

@font-face {
  font-family: 'HACKED';
  font-style: normal;
  font-weight: 400;
  src: url('HACKED/HACKED.eot'); /* IE9 Compat Modes */
  src: local('HACKED Medium'), local('HACKED-Medium'),
       url('HACKED/HACKED.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('HACKED/HACKED.woff2') format('woff2'), /* Super Modern Browsers */
       url('HACKED/HACKED.woff') format('woff'), /* Modern Browsers */
       url('HACKED/HACKED.ttf') format('truetype'), /* Safari, Android, iOS */
       url('HACKED/HACKED.svg#HACKED') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('OpenSans/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('OpenSans/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('OpenSans/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('OpenSans/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('OpenSans/OpenSans-Regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

p,br{
  font-size: 7vmin;
  line-height: 7vmin;
}

.flip u1{
  padding-right:0vmin !important;
  padding-left:0vmin !important;
  padding: 0vmin !important;
}

h1{
  font-size: 8vmin;
  /* line-height: 3vmin; */
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.0625vmin;
  -webkit-text-stroke-color: rgba(251,249,249, 0.275);
}
h2{
  font-size: 6vmin;
  line-height: 3vmin;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.0625vmin;
  -webkit-text-stroke-color: rgba(251,249,249, 0.275);
}
h3{
  font-size: 2.5vmin;
  line-height: 0.75vmin;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.0625vmin;
  -webkit-text-stroke-color: rgba(251,249,249, 0.275);
}
h4{
  font-size: 3vmin;
  /* line-height: 3vmin; */
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.0625vmin;
  -webkit-text-stroke-color: rgba(251,249,249, 0.275);
  max-width: 60vw;
}
h5{
  font-size: 5vmin;
  /* line-height: 0.7vmin; */
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.0625vmin;
  -webkit-text-stroke-color: rgba(251,249,249, 0.275);
}
a:link {color: rgba(25,25,125,0.9);}
a:visited {color: rgba(25,25,125,0.7);}
a:hover {color: rgba(25,25,125,0.9);}
a:active {color: rgba(25,25,125,0.9);}

html{
  background-image: url('../front_files/top.png'), url('../front_files/bottom.png');
  background-position: 0px -5vmin,center bottom;
  background-size: auto 26vw, auto 26vw !important;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-color: rgba(80,0,0, 0.02);
}

center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.center1{
    position: relative;
    top: 50%;
    transform: translateY(-8%);
}

.logo{
  text-align: center !important;
  display: inline-block;
  position: relative;
  width: 90vmin !important;
  left:-0.5vmin;
  padding-left: 0vmin !important;
  padding-right: 0vmin !important;
}

.flip-clock-wrapper  {
  position: fixed;
  display: inline-block;
  text-align: center !important;
  /* padding-left: 6vmin; */
  margin:auto !important;
  left:5vmin;
  width: 90vmin !important;
}

.flip-clock-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #C26D6E; }
.flip-clock-wrapper a:hover {
  color: #D3D1E8; }
.flip-clock-wrapper ul {
  list-style: none; }
.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: inline-block; }
.flip-clock-wrapper.clearfix:after {
  clear: both; }
.flip-clock-wrapper.clearfix {
  *zoom: 1; }
.flip-clock-wrapper {
  font: normal 2.69vmin 'Open Sans', Helvetica, sans-serif;
  -webkit-user-select: none; }
.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 9.75vmin !important; }
.flip-clock-meridium a { color: #313333; }
.flip-clock-wrapper {
  font-family: 'Open Sans' !important;
  text-align: center !important;
  display: inline-block;
  position: relative;
  margin: 0 auto !important;
}
.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content: " "; /* 1 */
    display: inline-block; /* 2 */
}
.flip-clock-wrapper:after {
    clear: both;
}
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  /* margin: 0.8vmin; */
  margin: 0.8vmin;
  /* width: 7.54286vmin; */
  width: 4vmin !important;
  height: 11vmin;
  font-size: 9.75vmin;
  font-weight: bold;
  line-height: 5.25vmin;
  border-radius: 0.75vmin;
  background: #000;
  padding-right:0vmin !important;
}
.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 7.3371vmin;
  height: 11vmin;
  line-height: 10.3125vmin;
  text-decoration: none !important;
}
.flip-clock-wrapper ul li:first-child {
  z-index: 2; }
.flip-clock-wrapper ul li a {
  display: block;
  height: 11vmin;
  -webkit-perspective: 48.89vmin;
  -moz-perspective: 48.89vmin;
  perspective: 48.89vmin;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important; }
.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  height: 5.5vmin;
  width: 7.3371vmin;
  font-size: 9.75vmin;
  overflow: hidden;
  outline: 0.125vmin solid transparent; }
.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 7.3371vmin;
  height: 11vmin;
  z-index: 2; }
.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }
.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 5.375vmin;
  left: 0;
  z-index: 5;
  width: 7.3371vmin;
  height: 0.5vmin;
  background-color: #80000;
  background-color: rgba(80, 0, 0, 0.4); }
.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 0.375vmin;
  border-bottom-right-radius: 0.375vmin;
}
.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  /* width: 100%; */
  width: 7.3371vmin;
  height: 11vmin;
  /* height: 200%; */
  color: #C26D6E;
  text-shadow: 0 0.125vmin 0.25vmin #000;
  text-align: center;
  background-color: #D3D1E8;
  border-radius: 0.375vmin;
  font-size: 9.75vmin; }
.flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }
.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }
.flip-clock-wrapper .flip {
    box-shadow: 0 0.5vmin 0.225vmin rgba(80, 0, 0, 0.7);
    width: 0vmin !important;
    padding: 7.3371vmin;
    padding-bottom: 0vmin;
    }
.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5; }
.flip-clock-divider {
  float: left;
  display: inline-block;
  text-align: center;
  position: relative;
  width: 2.5vmin;
  height: 12.25vmin; }
.flip-clock-divider:first-child {
  width: 0; }
.flip-clock-dot {
  display: block;
  background: rgba(100, 175, 100,0.5);
  width: 1.25vmin;
  height: 1.25vmin;
  position: absolute;
  border-radius: 0.625vmin;
  box-shadow: 0 0 1.25vmin rgba(125, 200, 125,1.0);
  left: 0.625vmin; }
.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -3.75vmin;
  right: -11.5vmin;
  color: #C26D6E;
  text-shadow: 0 0.225vmin 0.45vmin #f6f2f2; }
.flip-clock-divider.minutes .flip-clock-label {
  right: -13.5vmin; }
.flip-clock-divider.seconds .flip-clock-label {
  right: -14vmin; }
.flip-clock-dot.top {
  top: 7.33vmin; }
.flip-clock-dot.bottom {
  bottom: 7.33vmin; }
@-webkit-keyframes asd {
  0% {z-index: 2; }
  20% {z-index: 4; }
  100% {z-index: 4; } }
@-moz-keyframes asd {
  0% {z-index: 2; }
  20% {z-index: 4; }
  100% {z-index: 4; } }
@-o-keyframes asd {
  0% {z-index: 2; }
  20% {z-index: 4; }
  100% {z-index: 4; } }
@keyframes asd {
  0% {z-index: 2; }
  20% {z-index: 4; }
  100% {z-index: 4; } }
.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; }
@-webkit-keyframes turn {
  0% {-webkit-transform: rotateX(90deg); }
  100% {-webkit-transform: rotateX(0deg); } }
@-moz-keyframes turn {
  0% {-moz-transform: rotateX(90deg); }
  100% {-moz-transform: rotateX(0deg); } }
@-o-keyframes turn {
  0% {-o-transform: rotateX(90deg); }
  100% {-o-transform: rotateX(0deg); } }
@keyframes turn {
  0% {transform: rotateX(90deg); }
  100% {transform: rotateX(0deg); } }
.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both; }
@-webkit-keyframes turn2 {
  0% {-webkit-transform: rotateX(0deg); }
  100% {-webkit-transform: rotateX(-90deg); } }
@-moz-keyframes turn2 {
  0% {-moz-transform: rotateX(0deg); }
  100% {-moz-transform: rotateX(-90deg); } }
@-o-keyframes turn2 {
  0% {-o-transform: rotateX(0deg); }
  100% {-o-transform: rotateX(-90deg); } }
@keyframes turn2 {
  0% {transform: rotateX(0deg); }
  100% {transform: rotateX(-90deg); } }
.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3; }
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(80, 0, 0, 0) 0%, rgba(60, 0, 0, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(80, 0, 0, 0)), color-stop(100%, rgba(60, 0, 0, 1)));
  background: linear, top, rgba(80, 0, 0, 0) 0%, rgba(60, 0, 0, 1) 100%;
  background: -o-linear-gradient(top, rgba(80, 0, 0, 0) 0%, rgba(60, 0, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(80, 0, 0, 0) 0%, rgba(60, 0, 0, 1) 100%);
  background: linear, to bottom, rgba(80, 0, 0, 0) 0%, rgba(60, 0, 0, 1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }
.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(80, 0, 0, 0) 0%, rgba(60, 0, 0, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(80, 0, 0, 0)), color-stop(100%, rgba(60, 0, 0, 1)));
  background: linear, top, rgba(80, 0, 0, 0) 0%, rgba(60, 0, 0, 1) 100%;
  background: -o-linear-gradient(top, rgba(80, 0, 0, 0) 0%, rgba(60, 0, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(80, 0, 0, 0) 0%, rgba(60, 0, 0, 1) 100%);
  background: linear, to bottom, rgba(80, 0, 0, 0) 0%, rgba(60, 0, 0, 1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both; }
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, rgba(60, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(60, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, rgba(60, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, rgba(60, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, rgba(60, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, rgba(60, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }
.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, rgba(60, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(60, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, rgba(60, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, rgba(60, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, rgba(60, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, rgba(60, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both; }
@-webkit-keyframes show {
  0% {opacity: 1; }
  100% {opacity: 0; } }
@-moz-keyframes show {
  0% {opacity: 1; }
  100% {opacity: 0; } }
@-o-keyframes show {
  0% {opacity: 1; }
  100% {opacity: 0; } }
@keyframes show {
  0% {opacity: 1; }
  100% {opacity: 0; } }
@-webkit-keyframes hide {
  0% {opacity: 1; }
  100% {opacity: 0; } }
@-moz-keyframes hide {
  0% {opacity: 1; }
  100% {opacity: 0; } }
@-o-keyframes hide {
  0% {opacity: 1; }
  100% {opacity: 0; } }
@keyframes hide {
  0% {opacity: 1; }
  100% {opacity: 0; } }